<% @school_classes.each do |school_class| %>
    <div> - - - - - - - - - - - - - - - - - -</div>
    <div>Class: <%= school_class.title %></div>
    <div>Room Number: <%= school_class.room_number
    "}{|
    
    ></div>
<% end %>